* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px dotted red; */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #bac9a6;
}

/*-----------CALENDAR BODY-----------------*/
.wrapper {
    width: 450px;
    background-color: #eceeea;
    border: 2px solid #6a7b54;
    border-radius: 10px;
}

.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}

header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

header .icons {
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* border: 1px dotted blue; */
    padding: 0 20px;
}

header .icons span {
    height: 28px;
    width: 28px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50px;
    color: dimgray;
    /* background: #be585879; */
    /* border: 1px dotted yellow; */
}

span.material-symbols-rounded{
    padding-bottom: 32px;
    color: lightgray;
    /* border: 1px dotted blue; */
}

header .icons span:hover{
    background: #be5858;
    color: lightgray;
    transition: .5s;
}

header .icons span:last-child{
    margin-right: -10px;
}

.calendar {
    padding: 20px;
}

/*------------CALENDAR LISTS----------------*/
.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

/* To have the days and weeks in rows */
.calendar ul li {
    position: relative;
    width: calc(100%/7);
}

.calendar .days{
    margin-bottom: 20px;
}

.calendar .weeks li {
    font-weight: 500;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}

.days li.inactive {
    color: lightgray;
}

.days li.active {
    color: white;
}

.calendar .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    /* to make sure the circle is in the middle of the number */
    transform: translate(-50%, -50%);
}

.days li:hover::before{
    background: #be5858;
    transition: .4s;
}

.days li.active::before {
    background: #be5858c5;
}