* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #bac9a6;
}

/*-----------CALENDAR BODY-----------------*/
.wrapper {
    width: 450px;
    background-color: #eceeea;
    border: 2px solid #6a7b54;
    border-radius: 10px;
}

.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px 10px;
}

header .current-date {
    font-size: 1.45rem;
    font-weight: 500px;
}

header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 5px;
    background: #ebc8eb;
}

/*------------CALENDAR LISTS----------------*/
.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}